In [15]:
import pandas as pd

In [16]:
swe=pd.read_csv("temperature_data.csv")
swe.head()

         Day  Temperature
0     Monday           25
1    Tuesday           28
2  Wednesday           30
3   Thursday           27
4     Friday           26

In [17]:
swe["Temperature"].mean()

28.0

In [19]:
max(swe["Temperature"])

31

In [20]:
min(swe["Temperature"])

25